# Python
__pycache__/
*.py[cod]
*.so
.Python
*.egg
*.egg-info/

# Django
*.log
local_settings.py
db.sqlite3
media/

# Static files
staticfiles/

# Environment
.env
.env.prod
.venv/
venv/
ENV/

# Production backups
backups/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Docker
.docker/

# OS
.DS_Store
Thumbs.db
*.jsonl
*.ipynb*
