.venv/
venv/
__pycache__/
*.pyc
.env
.env.example
db.sqlite3
.git
.gitignore
staticfiles/
media/
.ipython/
.ipynb_checkpoints/
*.jsonl
*.log
Dockerfile
Dockerfile.jupyter
Dockerfile.prod
docker-compose.yml
README.md
